<ion-header>
    <ion-toolbar class="toolbar-custom">
        <ion-buttons slot="start">
            <ion-back-button (click)="modal.dismiss();" class="back-button-color" defaultHref="/tabs/store/1"></ion-back-button>
        </ion-buttons>
        <ion-title class="text-white">Categorías</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row align="center">
            <ion-col align-self="center" size="12">
                <ion-card>
                    <ion-card-content>
                        <ion-list>
                            <ion-item>
                                <ion-label>
                                    Accesorios para Vehículos
                                </ion-label>
                                <ion-note>0000</ion-note>
                                <div class="space-15"></div>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    Accesorios para Vehículos
                                </ion-label>
                                <ion-note>0000</ion-note>
                                <div class="space-15"></div>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    Accesorios para Vehículos
                                </ion-label>
                                <ion-note>0000</ion-note>
                                <div class="space-15"></div>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    Accesorios para Vehículos
                                </ion-label>
                                <ion-note>0000</ion-note>
                                <div class="space-15"></div>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    Accesorios para Vehículos
                                </ion-label>
                                <ion-note>0000</ion-note>
                                <div class="space-15"></div>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    Accesorios para Vehículos
                                </ion-label>
                                <ion-note>0000</ion-note>
                                <div class="space-15"></div>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    Accesorios para Vehículos
                                </ion-label>
                                <ion-note>0000</ion-note>
                                <div class="space-15"></div>
                            </ion-item>
                        </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>