<ion-header>
    <ion-toolbar class="toolbar-custom">
        <ion-buttons slot="start">
            <ion-back-button (click)="modal.dismiss();" class="back-button-color" defaultHref="/tabs/store/1"></ion-back-button>
        </ion-buttons>
        <ion-title class="text-white">Categorías de Samsung</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="body-modal">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item>
                        <ion-label class="text-center">Televisores HD</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label class="text-center">Televisores HD</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label class="text-center">Televisores HD</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label class="text-center">Televisores HD</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label class="text-center">Televisores HD</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label class="text-center">Televisores HD</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label class="text-center">Televisores HD</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label class="text-center">Televisores HD</ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>