<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="Modal.dismiss(null);" icon-only>
                <ion-icon class="button-close" name="arrow-round-back"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row align="center">
            <ion-col size="12" align-self="center">
                <ion-card style="box-shadow: none;">
                    <ion-card-header>
                        <ion-img class="w-25 offset-4" src="./assets/images/logo-lg.png" alt="Soluclic brand logo"></ion-img>
                    </ion-card-header>
                    <ion-card-content padding>
                        <form ngNativeValidate #ngCustomer="ngForm" (ngSubmit)="RegisterCustomer(ngCustomer);">
                            <div class="form-group">
                                <mat-form-field class="w-100" appearance="fill">
                                    <mat-label>Nombre y Apellido</mat-label>
                                    <input required type="text" ngModel name="firstname" matInput>
                                    <mat-icon matPrefix>perm_identity</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field class="w-100" appearance="fill">
                                    <mat-label>Correo electrónico</mat-label>
                                    <input required ngModel type="email" name="email" matInput>
                                    <mat-icon matPrefix>email</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field class="w-100" appearance="fill">
                                    <mat-label>Teléfono</mat-label>
                                    <input required name="telephone" ngModel type="number" matInput>
                                    <mat-icon matPrefix>phone_android</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field class="w-100" appearance="fill">
                                    <mat-label>Contraseña</mat-label>
                                    <input required type="password" ngModel name="password" matInput>
                                    <mat-icon matPrefix>lock</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <ion-button class="btn-submit" type="submit" color="primary" shape="round" expand="full">
                                    Empezar ahora!
                                </ion-button>
                            </div>
                            <fieldset class="hide">
                                <input ngModel="4" type="hidden" name="customer_group_id">
                                <input ngModel="0" type="hidden" name="store_id">
                                <input ngModel="0" type="hidden" name="language_id">
                                <input ngModel="NULL" type="hidden" name="cart">
                                <input ngModel="NULL" type="hidden" name="wishlist">
                                <input ngModel="0" type="hidden" name="newsletter">
                                <input ngModel="[]" type="hidden" name="custom_field">
                                <input ngModel="0" type="hidden" name="address_id">
                                <input ngModel="" type="hidden" name="ip">
                                <input ngModel="1" type="hidden" name="status">
                                <input ngModel="0" type="hidden" name="safe">
                                <input ngModel="" type="hidden" name="code">
                            </fieldset>
                        </form>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>