<ion-grid>
    <!-- toolbar -->
    <ion-row>
        <ion-col align-self-start>
            <ion-buttons [ngClass]="{'android-mg': platform === 'android'}">
                <ion-menu-button class="menuToggle"></ion-menu-button>
            </ion-buttons>
        </ion-col>
        <ion-col class="offset-2">
            <ion-img [routerLink]="['/']" class="w-25 logo" src="./assets/images/logo-white-sm.png"></ion-img>
        </ion-col>
        <ion-col>
            <ion-buttons>
                <ion-button icon-only [routerLink]="['/tabs/cart']" color="light" class="icon-color">
                    <ion-icon style="margin-left: 1.5em; font-size: 22px" name="cart"></ion-icon>
                    <ion-badge *ngIf="productDB.QtyItems !== 0" class="notify-num" color="danger">{{productDB.QtyItems}}</ion-badge>
                </ion-button>
            </ion-buttons>
        </ion-col>
        <ion-col size="12" align-self="center">
            <form>
                <ion-searchbar (keyup)="ClearSearch($event.key);" placeholder="Buscar" [(ngModel)]="Explorer" name="explorer" (ionClear)="ProductFindIndex = []" (ionChange)="ExplorerProducts($event);" class="bar-explorer"></ion-searchbar>
            </form>
            <ion-col *ngIf="menu.isSearching" style="position: absolute; z-index: 99;" class="w-100 explorer-bg" align-self="center" size="12">
                <ion-list class="explorer-bg" lines="none">
                    <ion-item [routerLink]="['/tabs/explorer/' + item.category_id + '/' + item.product_id]" [queryParams]="{'catname': item.catname}" *ngFor="let item of ProductFindIndex">
                        <ion-label>
                            <mat-hint>
                                <span [innerHTML]="item.name"></span>
                            </mat-hint>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-col>
    </ion-row>
    <div *ngIf="menu.displayCategories" class="space-15"></div>
    <!-- end toolbar -->
    <!-- explorer -->

    <ion-row *ngIf="menu.displayCategories">
        <ion-col align-self="center" size="12">
            <ion-slides style="margin-top: -5%">
                <ion-slide class="toolbar-slider">
                    <ion-row style="margin-left: -1em">
                        <ion-col>
                            <ion-fab-button class="btn-fab-category" size="small">
                                <mat-icon class="material-icons">local_mall</mat-icon>
                            </ion-fab-button>
                        </ion-col>
                        <ion-col class="separation-button">
                            <ion-fab-button class="btn-fab-category" size="small">
                                <mat-icon class="material-icons">shopping_basket</mat-icon>
                            </ion-fab-button>
                        </ion-col>
                        <ion-col class="separation-button">
                            <ion-fab-button class="btn-fab-category" size="small">
                                <mat-icon class="material-icons">stay_current_portrait</mat-icon>
                            </ion-fab-button>
                        </ion-col>
                        <ion-col class="separation-button">
                            <ion-fab-button class="btn-fab-category" size="small">
                                <mat-icon class="material-icons">business</mat-icon>
                            </ion-fab-button>
                        </ion-col>
                    </ion-row>
                </ion-slide>
            </ion-slides>
        </ion-col>
    </ion-row>
    <!-- end slider cat -->
</ion-grid>