/*.custom-tab-bg {
    --background: linear-gradient(300deg, rgb(77, 86, 234) 10%, rgba(45, 197, 176, 1) 100%, rgba(45, 197, 176, 1) 33.33%, rgba(45, 197, 176, 1) 100%) !important;
}*/


/*.custom-tab-bg {
    --background: rgba(45, 197, 176, 1) !important;
}*/

ion-tab-button>ion-icon {
    font-size: 22px
}