/*.custom-tab-bg {
    --background: linear-gradient(300deg, rgb(77, 86, 234) 10%, rgba(45, 197, 176, 1) 100%, rgba(45, 197, 176, 1) 33.33%, rgba(45, 197, 176, 1) 100%) !important;
}*/


/*.custom-tab-bg {
    --background: rgba(45, 197, 176, 1) !important;
}*/

ion-label {
    font-family: 'Nunito-Black' !important;
    font-size: 10px;
    font-weight: bold;
}

ion-tab-button {}

ion-tab-bar {
    --background: #FFFFFF;
    box-shadow: 0px -10px 20px 0px #6064703B;
    border: 0px
}