<ion-header>
    <ion-toolbar class="custom-toolbar">
        <ion-title>Tiendas oficiales</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-header>
        <ion-grid>
            <ion-row align="center">
                <ion-col align-self="center" size="12">
                    <form>
                        <ion-searchbar (ionChange)="FindStores($event.detail.value);" (ionClear)="ClearArray();" autocorrect="on" autocomplete="on" class="explorer"></ion-searchbar>
                    </form>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-header>
    <ion-buttons>
        <ion-button (click)="modal.dismiss();" icon-only>
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-grid>
        <ion-row align="center">
            <ion-col size="12" align-self="center">
                <ion-card>
                    <ion-card-content>
                        <ion-list>
                            <ion-item (click)="modal.dismiss();" *ngFor="let item of ArrayManufacturers" [routerLink]="['/tabs/store/' + item.manufacturer_id + '/' + item.name]" [queryParams]="{brand: item.image}">
                                <img class="w-25" [src]="SOLUCLIC_IMAGE + 'image/' + item.image" [alt]="item.name">
                                <ion-label>
                                    {{item.name}}
                                </ion-label>
                            </ion-item>
                        </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>