<ion-header>
    <ion-toolbar class="custom-toolbar">
        <ion-title>Tiendas oficiales</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-header>
        <ion-grid>
            <ion-row align="center">
                <ion-col align-self="center" size="12">
                    <ion-searchbar class="explorer"></ion-searchbar>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-header>
    <ion-buttons>
        <ion-button (click)="modal.dismiss();" icon-only>
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-grid>
        <ion-row align="center">
            <ion-col size="12" align-self="center">
                <ion-card>
                    <ion-card-content>
                        <ion-list>
                            <ion-item [routerLink]="['/tabs/store/1']">
                                <ion-avatar>
                                    <img src="./assets/images/demo/1.jpg" alt="">
                                </ion-avatar>
                                <ion-label>
                                    Lorem Ipsum
                                </ion-label>
                            </ion-item>
                            <ion-item [routerLink]="['/tabs/store/1']">
                                <ion-avatar>
                                    <img src="./assets/images/demo/1.jpg" alt="">
                                </ion-avatar>
                                <ion-label>
                                    Lorem Ipsum
                                </ion-label>
                            </ion-item>
                            <ion-item [routerLink]="['/tabs/store/1']">
                                <ion-avatar>
                                    <img src="./assets/images/demo/1.jpg" alt="">
                                </ion-avatar>
                                <ion-label>
                                    Lorem Ipsum
                                </ion-label>
                            </ion-item>
                            <ion-item [routerLink]="['/tabs/store/1']">
                                <ion-avatar>
                                    <img src="./assets/images/demo/1.jpg" alt="">
                                </ion-avatar>
                                <ion-label>
                                    Lorem Ipsum
                                </ion-label>
                            </ion-item>
                            <ion-item [routerLink]="['/tabs/store/1']">
                                <ion-avatar>
                                    <img src="./assets/images/demo/1.jpg" alt="">
                                </ion-avatar>
                                <ion-label>
                                    Lorem Ipsum
                                </ion-label>
                            </ion-item>
                            <ion-item [routerLink]="['/tabs/store/1']">
                                <ion-avatar>
                                    <img src="./assets/images/demo/1.jpg" alt="">
                                </ion-avatar>
                                <ion-label>
                                    Lorem Ipsum
                                </ion-label>
                            </ion-item>
                        </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>