<div class="space-150"></div>
<ion-content>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button mode="ios" text="Volver" class="back-button-color" defaultHref="/tabs/tab3"></ion-back-button>
            </ion-buttons>
            <ion-title>
                {{ProductData.meta_title}}
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <!-- product details -->
    <ion-grid>
        <ion-row align="center">
            <ion-col align-self="center" size="12">
                <ion-card>
                    <ion-fab vertical="top" horizontal="end" slot="fixed">
                        <ion-fab-button size="small" color="default">
                            <ion-icon style="color: #4D56EA" name="heart-empty"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>
                    <ion-card-header>
                        <ion-slides pager="true">
                            <ion-slide>
                                <ion-img [src]="SOLUCLIC_URL + 'image/' + ProductData.image" [alt]="ProductData.meta_title"></ion-img>
                            </ion-slide>
                            <ion-slide *ngFor="let slide of ProductThumbnails">
                                <ion-img [src]="SOLUCLIC_URL + 'image/' + slide.image" [alt]="slide.image"></ion-img>
                            </ion-slide>
                        </ion-slides>
                        <div class="space-15"></div>
                        <mat-divider></mat-divider>
                    </ion-card-header>
                    <ion-card-content>
                        <h1 class="color-default">{{ProductData.meta_title}}</h1>
                        <ion-row>
                            <ion-col>
                                <mat-radio-group class="rating-block">
                                    <ion-icon [name]="ReturnStarOnProduct('star1')"></ion-icon>
                                    <ion-icon [name]="ReturnStarOnProduct('star2')"></ion-icon>
                                    <ion-icon [name]="ReturnStarOnProduct('star3')"></ion-icon>
                                    <ion-icon [name]="ReturnStarOnProduct('star4')"></ion-icon>
                                    <ion-icon [name]="ReturnStarOnProduct('star5')"></ion-icon>
                                </mat-radio-group>
                            </ion-col>
                            <ion-col>
                                <mat-hint>
                                    <ion-badge style="position: relative; top: 0.3em">Stock</ion-badge>
                                    {{ProductData.stock}}
                                </mat-hint>
                            </ion-col>
                        </ion-row>
                        <mat-hint>{{ProductData.viewed | number}} vendidos</mat-hint>
                        <div class="space-30"></div>
                        <ion-row>
                            <ion-col>
                                <h1 class="color-default">${{ProductData.price | number}}</h1>
                            </ion-col>
                            <ion-col *ngIf="ProductData.descuento" size="1">
                                <h5 class="material-icons font-28">
                                    keyboard_tab
                                </h5>
                            </ion-col>
                            <ion-col *ngIf="ProductData.descuento">
                                <h1 class="color-default">${{ProductData.descuento | number}}</h1>
                            </ion-col>
                        </ion-row>
                        <div class="space-15"></div>
                        <mat-divider></mat-divider>
                        <div class="space-15"></div>
                        <h3 class="color-default">Descripción</h3>
                        <div class="space-15"></div>
                        <div id="description">
                            <ion-text class="description-text" text-wrap>
                                <mat-hint>
                                    <p [innerHTML]="productDescription | domSanatizer"></p>
                                </mat-hint>
                            </ion-text>
                        </div>
                        <div class="space-15"></div>
                        <mat-divider></mat-divider>
                        <div class="space-15"></div>
                        <ion-row>
                            <ion-col>
                                <form>
                                    <div class="form-group">
                                        <p>
                                            <mat-form-field appearance="fill" class="w-75">
                                                <mat-label>Cantidad</mat-label>
                                                <mat-icon (click)="LimitStock('sum');" matPrefix>add</mat-icon>
                                                <input keyup="return false;" [(ngModel)]="StockQty" name="quantity" type="number" matInput>
                                                <mat-icon (click)="LimitStock('sub');" matSuffix>remove</mat-icon>
                                            </mat-form-field>
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <ion-button [routerLink]="['/tabs/checkout/startup']" expand="block" shape="round" color="primary">
                                            Comprar
                                        </ion-button>
                                    </div>
                                </form>
                            </ion-col>
                        </ion-row>
                        <ion-fab vertical="top" horizontal="end" slot="fixed">
                            <ion-fab-button size="small" color="default">
                                <ion-icon style="color: #2DC5B0" name="cart"></ion-icon>
                            </ion-fab-button>
                        </ion-fab>
                        <div *ngIf="ArrayFilters !== null && ArrayFilters.length >= 1">
                            <div class="space-15"></div>
                            <mat-divider></mat-divider>
                            <div class="space-15"></div>
                        </div>
                        <!-- filters -->
                        <div *ngIf="ArrayFilters !== null && ArrayFilters.length >= 1">
                            <ion-chip *ngFor="let filter of ArrayFilters" color="secondary">
                                <ion-icon name="medical"></ion-icon>
                                <ion-label>
                                    {{filter.Childs}}
                                </ion-label>
                            </ion-chip>
                        </div>
                        <!-- end filters -->
                        <div *ngIf="ArrayProductsReviews !== null && ArrayProductsReviews.length >= 1">
                            <div class="space-15"></div>
                            <mat-divider></mat-divider>
                            <div class="space-15"></div>
                        </div>
                        <h3 *ngIf="ArrayProductsReviews !== null && ArrayProductsReviews.length >= 1" class="color-default">
                            Reviews
                        </h3>
                        <div class="space-15"></div>
                        <ion-row *ngIf="ArrayProductsReviews !== null && ArrayProductsReviews.length >= 1">
                            <ion-col *ngFor="let review of ArrayProductsReviews" size="12">
                                <mat-card style="border-top: 1px solid #cecece">
                                    <mat-card-content>
                                        {{review.text}}
                                    </mat-card-content>
                                </mat-card>
                                <div class="space-15"></div>
                            </ion-col>
                        </ion-row>
                        <div *ngIf="ArrayProductsRealted !== null && ArrayProductsRealted.length >= 1">
                            <div class="space-15"></div>
                            <mat-divider></mat-divider>
                            <div class="space-15"></div>
                        </div>
                        <h2 *ngIf="ArrayProductsRealted !== null && ArrayProductsRealted.length >= 1" class="color-default">
                            Productos relacionados
                        </h2>
                        <!-- related products -->
                        <ion-slides *ngIf="ArrayProductsRealted !== null && ArrayProductsRealted.length >= 1" pager="true">
                            <ion-slide *ngFor="let related of ArrayProductsRealted">
                                <ion-card>
                                    <ion-fab vertical="top" horizontal="end" slot="fixed">
                                        <ion-fab-button size="small" color="default">
                                            <ion-icon style="color: #4D56EA" name="heart-empty"></ion-icon>
                                        </ion-fab-button>
                                    </ion-fab>
                                    <ion-card-header>
                                        <ion-img class="w-50 offset-3" [routerLink]="['/tabs/product/' + related.product_id]" [src]="SOLUCLIC_URL + 'image/' + related.image" [alt]="related.meta_title"></ion-img>
                                    </ion-card-header>
                                    <ion-card-content>
                                        <h2 [routerLink]="['/tabs/product/' + related.product_id]" class="color-default">
                                            {{related.meta_title}}
                                        </h2>
                                        <div class="space-15"></div>
                                        <p>
                                            <mat-hint style="font-size: 12px !important">
                                                {{related.meta_description}}
                                            </mat-hint>
                                        </p>
                                        <div class="space-15"></div>
                                        <ion-row>
                                            <ion-col size="7">
                                                <mat-hint style="position: relative; top: 0.5em">
                                                    ${{related.price | number}}
                                                </mat-hint>
                                            </ion-col>
                                            <ion-col *ngIf="related.descuento" size="4">
                                                <ion-chip color="danger">
                                                    <ion-label>
                                                        ${{related.descuento | number}}
                                                    </ion-label>
                                                </ion-chip>
                                            </ion-col>
                                        </ion-row>
                                        <ion-fab vertical="top" horizontal="end" slot="fixed">
                                            <ion-fab-button style="position: relative; top: -2em" size="small" color="default">
                                                <ion-icon style="color: #2DC5B0" name="cart"></ion-icon>
                                            </ion-fab-button>
                                        </ion-fab>
                                        <div class="space-15"></div>
                                        <ion-chip color="secondary">
                                            <ion-icon name="medical"></ion-icon>
                                            <ion-label>
                                                Instalación
                                            </ion-label>
                                        </ion-chip>
                                    </ion-card-content>
                                </ion-card>
                            </ion-slide>
                        </ion-slides>
                        <!-- end related products -->
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!-- end product details -->
</ion-content>