<ion-header>
    <ion-toolbar class="toolbar-custom">
        <ion-buttons slot="start">
            <ion-back-button (click)="modal.dismiss();" class="back-button-color" defaultHref="/tabs/store/1"></ion-back-button>
        </ion-buttons>
        <ion-title class="text-white">Categorías</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row align="center">
            <ion-col align-self="center" size="12">
                <h5 class="h5 color-title">Enero</h5>
                <ion-card>
                    <ion-card-content>
                        <ion-row>
                            <ion-col>
                                <img src="./assets/images/demo/tv@2x.png" alt="">
                            </ion-col>
                            <ion-col>
                                <mat-hint>
                                    $45.52
                                </mat-hint>
                                <div class="space-15"></div>
                                <h3 class="color-default h3">
                                    Tv Samsung
                                </h3>
                                <ion-chip color="secondary">
                                    <ion-avatar>
                                        <img src="./assets/images/demo/tv@2x.png" alt="logo">
                                    </ion-avatar>
                                    <ion-label>
                                        Samsung
                                    </ion-label>
                                </ion-chip>
                                <ion-button shape="round" expand="full" color="primary">
                                    Ver el producto
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-content>
                        <ion-row>
                            <ion-col>
                                <img src="./assets/images/demo/tv@2x.png" alt="">
                            </ion-col>
                            <ion-col>
                                <mat-hint>
                                    $45.52
                                </mat-hint>
                                <div class="space-15"></div>
                                <h3 class="color-default h3">
                                    Tv Samsung
                                </h3>
                                <ion-chip color="secondary">
                                    <ion-avatar>
                                        <img src="./assets/images/demo/tv@2x.png" alt="logo">
                                    </ion-avatar>
                                    <ion-label>
                                        Samsung
                                    </ion-label>
                                </ion-chip>
                                <ion-button shape="round" expand="full" color="primary">
                                    Ver el producto
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-content>
                        <ion-row>
                            <ion-col>
                                <img src="./assets/images/demo/tv@2x.png" alt="">
                            </ion-col>
                            <ion-col>
                                <mat-hint>
                                    $45.52
                                </mat-hint>
                                <div class="space-15"></div>
                                <h3 class="color-default h3">
                                    Tv Samsung
                                </h3>
                                <ion-chip color="secondary">
                                    <ion-avatar>
                                        <img src="./assets/images/demo/tv@2x.png" alt="logo">
                                    </ion-avatar>
                                    <ion-label>
                                        Samsung
                                    </ion-label>
                                </ion-chip>
                                <ion-button shape="round" expand="full" color="primary">
                                    Ver el producto
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>