<div class="space-150"></div>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col align="center">
                <ion-header>
                    <ion-toolbar class="back-toolbar">
                        <ion-buttons slot="start">
                            <ion-back-button class="back-button-color" defaultHref="/tabs/tab3"></ion-back-button>
                        </ion-buttons>
                        <ion-title class="text-left title-tap">
                            Mensajeria
                        </ion-title>
                    </ion-toolbar>
                </ion-header>
            </ion-col>
        </ion-row>
        <!-- list chat -->
        <ion-row align="center" class="text-center">
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <ion-list>
                            <ion-item (click)="OpenChat();" [routerLink]="['/tabs/tab6']">
                                <ion-avatar>
                                    <img src="./assets/images/demo/1.jpg" alt="">
                                </ion-avatar>
                                <ion-label class="offset-1">
                                    Carlos Estarita <br>
                                    <mat-hint>Ultimo Mensaje</mat-hint>
                                </ion-label>
                            </ion-item>
                            <ion-item [routerLink]="['/']">
                                <ion-avatar>
                                    <img src="./assets/images/demo/1.jpg" alt="">
                                </ion-avatar>
                                <ion-label class="offset-1">
                                    Carlos Estarita <br>
                                    <mat-hint>Ultimo Mensaje</mat-hint>
                                </ion-label>
                            </ion-item>
                            <ion-item [routerLink]="['/']">
                                <ion-avatar>
                                    <img src="./assets/images/demo/1.jpg" alt="">
                                </ion-avatar>
                                <ion-label class="offset-1">
                                    Carlos Estarita <br>
                                    <mat-hint>Ultimo Mensaje</mat-hint>
                                </ion-label>
                            </ion-item>
                            <ion-item [routerLink]="['/']">
                                <ion-avatar>
                                    <img src="./assets/images/demo/1.jpg" alt="">
                                </ion-avatar>
                                <ion-label class="offset-1">
                                    Carlos Estarita <br>
                                    <mat-hint>Ultimo Mensaje</mat-hint>
                                </ion-label>
                            </ion-item>
                        </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>