<div class="space-150"></div>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col align="center">
                <ion-header>
                    <ion-toolbar class="back-toolbar">
                        <ion-buttons slot="start">
                            <ion-back-button class="back-button-color" defaultHref="/tabs/tab3"></ion-back-button>
                        </ion-buttons>
                        <ion-title class="text-left title-tap">
                            Tiendas
                        </ion-title>
                    </ion-toolbar>
                </ion-header>
            </ion-col>
        </ion-row>
        <!-- stores -->
        <div class="space-40"></div>
        <ion-row>
            <ion-col size="12" align="center">
                <ion-card matRipple (click)="NavigateToStore(1);">
                    <img style="margin-left: 25%" class="w-50" src="./assets/images/demo/Samsung-logo@2x.png" alt="logo">
                    <mat-divider class="text-center w-75 divider-mg"></mat-divider>
                    <ion-card-content>
                        <p style="font-size: 12px !important">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                        <div class="space-15"></div>
                        <mat-radio-group class="rating-block">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                        </mat-radio-group>

                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="12" align="center">
                <ion-card matRipple (click)="NavigateToStore(1);">
                    <img style="margin-left: 25%" class="w-50" src="./assets/images/demo/Samsung-logo@2x.png" alt="logo">
                    <mat-divider class="text-center w-75 divider-mg"></mat-divider>
                    <ion-card-content>
                        <p style="font-size: 12px !important">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                        <div class="space-15"></div>
                        <mat-radio-group class="rating-block">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                        </mat-radio-group>

                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="12" align="center">
                <ion-card matRipple>
                    <img style="margin-left: 25%" class="w-50" src="./assets/images/demo/Samsung-logo@2x.png" alt="logo">
                    <mat-divider class="text-center w-75 divider-mg"></mat-divider>
                    <ion-card-content>
                        <p style="font-size: 12px !important">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                        <div class="space-15"></div>
                        <mat-radio-group class="rating-block">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                        </mat-radio-group>

                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="12" align="center">
                <ion-card matRipple>
                    <img style="margin-left: 25%" class="w-50" src="./assets/images/demo/Samsung-logo@2x.png" alt="logo">
                    <mat-divider class="text-center w-75 divider-mg"></mat-divider>
                    <ion-card-content>
                        <p style="font-size: 12px !important">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                        <div class="space-15"></div>
                        <mat-radio-group class="rating-block">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                        </mat-radio-group>

                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <!-- end stores -->
    </ion-grid>
</ion-content>