<div class="space-180"></div>
<ion-content>
    <ion-grid>
        <!-- start slider -->
        <ion-row>
            <ion-col size="12" align-self="center">
                <ion-slides scrollbar="true" class="budget" [options]="sliderOpts" pager="true">
                    <ion-slide *ngFor="let item of [0,1]">
                        <ion-col class="card-absolute">
                            <ion-card class="w-75 card-style">
                                <ion-card-header class="text-white iphone-sm-mg">
                                    <div class="space-10"></div>
                                    <mat-hint class="text-white">
                                        Lorem impsupm
                                    </mat-hint>
                                </ion-card-header>
                                <ion-card-content class="font-12 text-white">
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit sit amet consectetur adipisicing elit sit amet consectetur adipisicing elit sit amet consectetur adipisicing elit.
                                    </p>
                                </ion-card-content>
                            </ion-card>
                        </ion-col>
                        <ion-img src="./assets/images/balazs-ketyi-1410248-unsplash@2x.png"></ion-img>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
        <!-- end slider -->
        <!-- offers -->
        <div class="space-20"></div>
        <ion-row>
            <ion-col size="12" align-self="center" class="text-center">
                <ion-text class="text-center text-uppercase h4 title-border">
                    Ofertas
                </ion-text>
                <div class="space-10"></div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-slides [options]="sliderOpts2">
                <ion-slide>
                    <ion-col>
                        <ion-card class="bg-dark">
                            <div class="space-10"></div>
                            <ion-card-title class="font-14 text-white">
                                Lorem impsum
                            </ion-card-title>
                            <ion-card-content class="text-white font-10 text-center">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit sit amet consectetur adipisicing elit sit amet consectetur adipisicing elit sit amet consectetur adipisicing elit.
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                    <ion-col>
                        <ion-card class="bg-dark">
                            <div class="space-10"></div>
                            <ion-card-title class="font-14 text-white">
                                Lorem impsum
                            </ion-card-title>
                            <ion-card-content class="text-white font-10 text-center">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit sit amet consectetur adipisicing elit sit amet consectetur adipisicing elit sit amet consectetur adipisicing elit.
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-slide>
                <ion-slide>
                    <ion-col>
                        <ion-card class="bg-dark">
                            <div class="space-10"></div>
                            <ion-card-title class="font-14 text-white">
                                Lorem impsum
                            </ion-card-title>
                            <ion-card-content class="text-white font-10 text-center">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit sit amet consectetur adipisicing elit sit amet consectetur adipisicing elit sit amet consectetur adipisicing elit.

                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                    <ion-col>
                        <ion-card class="bg-dark">
                            <div class="space-10"></div>
                            <ion-card-title class="font-14 text-white">
                                Lorem impsum
                            </ion-card-title>
                            <ion-card-content class="text-white font-10 text-center">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit sit amet consectetur adipisicing elit sit amet consectetur adipisicing elit sit amet consectetur adipisicing elit.
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-slide>
            </ion-slides>
        </ion-row>
        <!-- product -->
        <ion-row align-center>
            <ion-col offset="4" *ngIf="isLoading" size="12" align-self="center" class="text-center">
                <mat-spinner></mat-spinner>
            </ion-col>
            <ion-col *ngFor="let prod of ArrayProducts; let i = index" size="6">
                <ion-card *ngIf="prod.status ==='1'">
                    <ion-fab mode="ios" style="margin-top: 1.6em;" vertical="top" horizontal="end" slot="fixed">
                        <form #wishlist="ngForm" ngNativeValidate (ngSubmit)="SaveCartProduct(wishlist);">
                            <ion-fab-button (click)="TriggerCartClick(i, 'btn-wishlist');" class="fab-button-wishlist" size="small">
                                <ion-icon class="font-20" name="heart-empty"></ion-icon>
                            </ion-fab-button>
                            <fieldset class="hide">
                                <input [(ngModel)]="auth._id" type="hidden" name="customer_id">
                                <input [(ngModel)]="prod.product_id" type="hidden" name="product_id">
                                <input ngModel="wishlist" type="hidden" name="operation">
                                <button style="display: none" [id]="'btn-wishlist-' + i" type="submit"></button>
                            </fieldset>
                        </form>
                    </ion-fab>
                    <ion-card-header [routerLink]="['/tabs/product/' + prod.product_id]" class="product-card-bg">
                        <div class="space-10"></div>
                        <ion-img [alt]="prod.meta_title" [src]="URL_IMG + 'image/' + prod.image"></ion-img>
                    </ion-card-header>
                    <ion-card-content size="12" [ngClass]="{'card-text-w': auth.OperativeSystemVerification() === 'ios'}">
                        <div class="space-30"></div>
                        <ion-card-title [routerLink]="['/tabs/product/' + prod.product_id]" style="font-size: 14px !important" class="h5 product-title" align="center">
                            {{prod.meta_title}}
                        </ion-card-title>
                        <ion-fab mode="ios" vertical="top" horizontal="end" slot="fixed">
                            <form #cart="ngForm" ngNativeValidate (ngSubmit)="SaveCartProduct(cart);">
                                <ion-fab-button [ngClass]="{'android-btn-mg': auth.OperativeSystemVerification() === 'android'}" (click)="TriggerCartClick(i, 'btn-cart');" class="fab-button-cart" size="small">
                                    <ion-icon class="font-20" name="cart"></ion-icon>
                                </ion-fab-button>
                                <fieldset class="hide">
                                    <input ngModel="0" type="hidden" name="api_id">
                                    <input [(ngModel)]="auth._id" type="hidden" name="customer_id">
                                    <input [(ngModel)]="auth.session" type="hidden" name="session">
                                    <input [(ngModel)]="prod.product_id" type="hidden" name="product_id">
                                    <input ngModel="0" type="hidden" name="recurring_id">
                                    <input ngModel="[]" type="hidden" name="option">
                                    <input ngModel="1" type="hidden" name="quantity">
                                    <input ngModel="cart" type="hidden" name="operation">
                                    <button style="display: none" [id]="'btn-cart-' + i" type="submit"></button>
                                </fieldset>
                            </form>
                        </ion-fab>
                        <p style="font-size: 8px;" padding class="text-left w-100">
                            {{prod.meta_description}}
                        </p>
                        <ion-row align="center">
                            <ion-col>
                                <h5 class="price-title">
                                    ${{prod.price | number}}
                                </h5>
                            </ion-col>
                            <ion-col *ngIf="prod.descuento">
                                <ion-chip class="discount-chip">
                                    -15%
                                </ion-chip>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col align="center">
                                <ion-chip>
                                    <ion-avatar>
                                        <img [alt]="prod.name" [src]="URL_IMG + 'image/' + prod.alianza | noImage">
                                    </ion-avatar>
                                    <ion-label>
                                        {{prod.name}}
                                    </ion-label>
                                </ion-chip>
                                <br>
                                <h5>
                                    Con instalación
                                </h5>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <!-- end products -->
        <!-- end offers -->
    </ion-grid>
</ion-content>