.button-close {
    color: #2DC5B0 !important;
    --color: #2DC5B0 !important;
    --font-size: 20px !important
}

h3 {
    font-size: 22px !important;
    color: #666666 !important;
    --color: #666666 !important
}

mat-hint {
    font-size: 14px !important;
}