<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="Modal.dismiss(null);" icon-only>
                <ion-icon class="button-close" name="arrow-round-back"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row align="center">
            <ion-col size="12" align-self="center">
                <ion-slides pager="true">
                    <ion-slide>
                        <ion-card>
                            <ion-card-header>
                                <h3 class="h3">
                                    Soluclic en 5 pasos
                                </h3>
                                <ion-img src="./assets/images/slider/ica-slidebox-img-1.png"></ion-img>
                            </ion-card-header>
                            <ion-card-content padding>
                                <mat-hint>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus obcaecati natus dolor fugit facilis voluptas nemo corrupti sequi debitis tempore asperiores, quod quas dignissimos quo! Molestiae et pariatur error delectus.
                                </mat-hint>
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>
                    <ion-slide>
                        <ion-card>
                            <ion-card-header>
                                <h3 class="h3">
                                    Paso 1
                                </h3>
                                <ion-img src="./assets/images/slider/ica-slidebox-img-2.png"></ion-img>
                            </ion-card-header>
                            <ion-card-content padding>
                                <mat-hint>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus obcaecati natus dolor fugit facilis voluptas nemo corrupti sequi debitis tempore asperiores, quod quas dignissimos quo! Molestiae et pariatur error delectus.
                                </mat-hint>
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>
                    <ion-slide>
                        <ion-card>
                            <ion-card-header>
                                <h3 class="h3">
                                    Paso 2
                                </h3>
                                <ion-img src="./assets/images/slider/ica-slidebox-img-3.png"></ion-img>
                            </ion-card-header>
                            <ion-card-content padding>
                                <mat-hint>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus obcaecati natus dolor fugit facilis voluptas nemo corrupti sequi debitis tempore asperiores, quod quas dignissimos quo! Molestiae et pariatur error delectus.
                                </mat-hint>
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>
                    <ion-slide>
                        <ion-card>
                            <ion-card-header>
                                <h3 class="h3">
                                    Paso 3
                                </h3>
                                <ion-img src="./assets/images/slider/ica-slidebox-img-4.png"></ion-img>
                            </ion-card-header>
                            <ion-card-content padding>
                                <mat-hint>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus obcaecati natus dolor fugit facilis voluptas nemo corrupti sequi debitis tempore asperiores, quod quas dignissimos quo! Molestiae et pariatur error delectus.
                                </mat-hint>
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>
                    <ion-slide>
                        <ion-card>
                            <ion-card-header>
                                <h3 class="h3">
                                    Paso 4
                                </h3>
                                <ion-img src="./assets/images/slider/ica-slidebox-img-1.png"></ion-img>
                            </ion-card-header>
                            <ion-card-content padding>
                                <mat-hint>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus obcaecati natus dolor fugit facilis voluptas nemo corrupti sequi debitis tempore asperiores, quod quas dignissimos quo! Molestiae et pariatur error delectus.
                                </mat-hint>
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>