<ion-header>
    <ion-toolbar class="toolbar-custom">
        <ion-menu-button color="light"></ion-menu-button>
        <ion-title>
            <mat-hint class="text-white" style="font-size: 14px !important">
                Notificaciones
            </mat-hint>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="space-80"></div>
    <ion-grid>
        <ion-row align="center">
            <ion-col size="12" align-self="center">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>
                            <mat-hint style="font-size: 20px !important">
                                No tienes notificaciones
                            </mat-hint>
                        </ion-card-title>
                        <ion-card-subtitle style="font-size: 10px !important">
                            <mat-hint>
                                ¡Aprovecha para descubrir productos increíbles
                            </mat-hint>
                        </ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>